<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trans*Code{% if page.title %} - {{ page.title }} {% endif %}</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" charset="utf-8">
</head>
<body>
  <nav class="navbar">
    <a href="/" class="navbar__logo">
      <img height="40" width="240" alt="Trans-code" src="images/cropped-cropped-TransCode_transparent2.jpg" />
    </a>
    <ul class="navbar__nav">
      <li {% if page.url == "/" %}class="active"{% endif %}>
        <a href="/">Hackday projects</a>
      </li>
      <li {% if page.url == "/resources.html" %}class="active"{% endif %}>
        <a href="/resources">Hackday Resources</a>
      </li>
    </ul>
  </nav>

  <main role="main"{% if page.page_class %} class="{{ page.page_class }}"{% endif %}>
    {{ content }}
  </main>

  <footer>
  </footer>
</body>
</html>
